header {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

header .container__header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1024px) {
  header .container__header {
    width: 80%;
  }
}
