button {
  background-color: var(--color-grey-1);
  border: 1.4px solid var(--color-grey-1);
  border-radius: 8px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  transition: 0.35s;
}

@media (min-width: 1024px) {
  button:hover {
    background-color: var(--color-grey-3);
    color: var(--color-white-1);
    transition: 0.35s;
    cursor: pointer;
  }

  button:focus {
    background-color: var(--color-pink-1);
    color: var(--color-white-0);
  }
}
