.container__Inicio {
  width: 100vw;
  height: 100vh;
  background-color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__infoApp {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container__infoApp h1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-white-0);
}

.container__infoApp p {
  color: var(--color-white-0);
}

.container__infoApp button {
  background-color: #fd377e;
  color: var(--color-white-0);
  border: none;
}

.container__imgApp {
  width: 90%;
  min-height: 40%;
}

.container__imgApp img {
  width: 100%;
  height: 100%;
}

header {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

header .container__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.container__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.container__form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__allFilter {
  margin-bottom: 20px;
}

.container__filter {
  width: 90%;
}

.container__buttonFilter {
  display: flex;
  gap: 16px;
}

.container__listCard img {
  width: 100%;
}

@media (min-width: 1024px) {
  .container__Inicio {
    flex-direction: row;
    gap: 20px;
  }

  .container__infoApp {
    width: 30%;
  }

  .container__infoApp h1 {
    font-weight: 700;
    font-size: 2.3rem;
    text-align: start;
  }

  .container__imgApp {
    width: 30%;
  }

  .container__main {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    gap: 40px;
  }

  .container__list {
    width: 60%;
    justify-content: flex-start;
  }

  .container__allFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container__filter {
    width: 100%;
  }

  header .container__header {
    width: 80%;
  }
}
