.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container__main {
  display: flex;
  justify-content: center;
  width: 100vw;
}

@media (min-width: 1024px) {
  .container__main {
    width: 80%;
    margin: 0 auto;
  }
}
